.size{
    width: 660px;
    border-radius: 10px;
}

.input-prop {
    margin: 16px 8px 16px 16px;
    height: 64px;
    width: 408px;
    border-radius: 5px;
    border: 1px solid #000000;
}

.btn-prop {
    margin: 16px 16px 16px 8px;
    width: 204px;
    height: 64px;
    background: #4B77BE;
    border-radius: 5px;
}