<div class="card size">
    <div class="d-flex">
        <div class="d-inline-block">
            <input class="form-control input-prop" placeholder="Enter city" [(ngModel)]="cityinput">
        </div>
        <div class="d-inline-block">
            <button class="btn btn-prop" (click)="onClick()" style="color: white;">
                Get Weather
            </button>
        </div>
    </div>
</div>