<div class="container-fluid h-100 d-flex align-items-center">
    <div class="row w-100">
        <div class="col d-flex justify-content-center">
            <div>
                <app-weathercard [cityName]="cityName" [temperature]="temperature"></app-weathercard>
                <app-textbox (btnClick)="fetchData($event)"></app-textbox>
            </div>
        </div>
        <div class="col d-flex justify-content-mg-end justify-content-center">
            <img src="../assets/img/weather-illustration.png" width = "549.68px" height ="406.44px">
        </div>
    </div>
</div>