<div class="card size mb-3">
    <div class="d-grid text-center h-100 align-items-center">

        <div class="title">
            The Weather App
        </div>

        <div class="temperature" id="temperature-text">
            {{temperature}}
        </div>

        <div class="title" id="location-text">
            {{cityName}}
        </div>

    </div>
</div>