.size{
    height: 324px;
    width: 660px;
    border-radius: 10px;
}

.mrow{
    margin: auto;
}

.title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #4B77BE;
}

.temperature{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #3F3D56;
}