/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body { 
    height: 100% ;
    background-image: linear-gradient(116.82deg, #ADD8E6 0%, #FFFFFF 100%);
}